{erl_opts, [debug_info,
            fail_on_warning,
            {platform_define, "^[0-9]+", namespaced_types},
            {platform_define, "R16B01|R16B02|17", long_schedule},
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{deps, [
        {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "2.0.10"}}}
       ]}.
