{erl_opts, [debug_info,
            fail_on_warning,
            {parse_transform, lager_transform}]}.

{eunit_opts, [verbose]}.

{deps, [{lager, "~>3.6.0"}]}.

{profiles,
 [{test, [{deps, [
        {cuttlefish, ".*", {git, "https://github.com/tsloughter/cuttlefish.git", {branch, "develop"}}}
       ]}]}]}.

{plugins, [{rebar_erl_vsn, "~>0.1.7"}]}.
{provider_hooks, [{pre, [{compile, erl_vsn}]}]}.

